  
  {% load static %}
  <head>
      <style>
        footer{
          overflow-x: hidden;
          align-items: center;
          text-align:center;
          height: 10vh;
          bottom:0;
        }
        .page-footer ul{
          display: flex;
          
          list-style: none;
          width: 100%;
        }
        .page-footer ul li{
          margin-left:15px;
        }
      </style>

  </head>
 <body>

 
  <footer class="page-footer row" style="background-color: rgb(82, 75, 75);">

    
   
  
    <div class="col-md-2">
        <img src="{% static 'img/paperplanes.png' %}" style="height: 50px; width: 50px;left:0">

    </div>
    
    <div class="col-md-8">
      <ul>
        <li>Account</li>
        <li>Privacy Policy</li>
        <li>Terms of Use</li>
        <li>Customer support</li>
      </ul>
          
    </div>
    <div class="col-md-2">
        <a href="">
          <i class="fab fa-facebook-f mr-3"></i>
        </a>
  
        <a href="">
          <i class="fab fa-twitter mr-3"></i>
        </a>

        <a href="">
          <i class="fab fa-instagram mr-3"></i>
        </a>
      </div>
    
   
   

    
  

  </footer>
  <!--/.Footer-->
</body>