{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .inner{
    overflow: hidden;
    }

    .inner{
        transition: all 2s ease-in;
    }

    .inner:hover img{
      background-size: cover;
      background-repeat: no-repeat;
      transform: scale(1.5);
    }
  </style>
</head>


<body>

  <!--Main layout-->
  <main>
    <div class="container">
      <div class="row justify-content-center mb-4">
        {% for item in latest %}
        <div class="col-lg-3">
          <a href="{{ item.get_absoulute_url }}" class="card inner" style="width: 18rem; height:20rem;">
            <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.title }}">
          
          </a>
        </div>
        {% endfor %}
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-12">
        <h1>Mishqa</h1>
        </div>
        </div>

        <div class="row justify-content-center mb-4">
            {% for cat in all_categories %}

            <div class="col-lg-3">
                <a href="" class="card inner" style="width: 18rem; height:20rem;">
                  <img src="" class="card-img-top" alt="{{ item.title }}">
                  {{ cat }}
                </a>
            </div>
        {% endfor %}
          
        </div>

        <div class="row justify-content-center mb-4">
            <div class="col-lg-12">
                <h1>Featured Collection</h1>
            </div>
            {% for item in object_list %}

            <div class="col-lg-3">
                <a href="" class="card inner" style="width: 18rem; height:20rem;">
                  <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.title }}">
                  
                </a>
            </div>
        {% endfor %}
          
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Sign up for product drops and the latest news.</h2>
               
            </div>
            <div class="col-md-8">
                <div class="form-holder">
                <form action="#" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                    <input type="email" name="email" id="email" placeholder="Type your email address">
                    <button type="submit" class="submit btn btn-danger">Subscribe</button>
                    </div>
                </form>
                </div>
            </div>
            </div>
       
     

     
     
       

     

      

    </div>
  </main>
  <!--Main layout-->

  {% include "footer.html" %}

 
</body>

</html>
{% endblock %}


