{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .inner{
    overflow: hidden;
    }

    .inner{
        transition: all 2s ease-in;
    }

    .inner:hover img{
      background-size: cover;
      background-repeat: no-repeat;
      transform: scale(1.5);
    }

    #section1,#section2,#section3{
      align-items: center;
      text-align:center;
      text-transform: uppercase;
      letter-spacing:0;
    }
    #section1 h1{
      font-size: 50px;
      font-weight: 900;
    }
    #section2 h1{
      font-size: 40px;
      font-weight: 900;
    }
  </style>
</head>


<body>

  <!--Main layout-->
  <main>
    <div class="container">
      <div class="row justify-content-center mb-4">
        {% for item in latest %}
        <div class="col-lg-3">
          <a href="{{ item.get_absoulute_url }}" class="card inner" style="width: 18rem; height:20rem;">
            <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.title }}">
          
          </a>
        </div>
        {% endfor %}
      </div>

      <div class="row" id="section1">
        <div class="col-lg-12">
        <h1><span>M</span>
            <span>i</span>
            <span>s</span>
            <span>h</span>
            <span>q</span>
            <span>a</span>
            <span>p</span>
            <span>l</span>
            <span><img src="{% static 'img/paperplanes.png' %}" style="height: 50px; width: 50px;"></span>
            <span>n</span>
            <span>e</span>
            <span>s</span>
          </h1>
        </div>
        </div>

        <div class="row justify-content-center mb-4">
            <div class="col-lg-3">
                <a href="/arrivals" class="card inner" style="width: 18rem; height:20rem;">
                  New Arrivals
                  <img src="{% static 'img/snapback2.jpeg' %}" class="card-img-top" alt="{{ item.title }}">
                </a>
              </div>
            <div class="col-lg-3">
                <a href="/hats" class="card inner" style="width: 18rem; height:20rem;">
                  Hats
                  <img src="{% static 'img/snapback3.jpg' %}" class="card-img-top" alt="{{ item.title }}">
               
                </a>
            </div>
            <div class="col-lg-3">
              <a href="/tees" class="card inner" style="width: 18rem; height:20rem;">
                Tees
                <img src="{% static 'img/shirt-croptop.jpg' %}" class="card-img-top" alt="{{ item.title }}">
              
              </a>
          </div>
          <div class="col-lg-3">
            <a href="/tops" class="card inner" style="width: 18rem; height:20rem;">
              Tops
              <img src="{% static 'img/crop-top.jpg' %}" class="card-img-top" alt="{{ item.title }}">
             
            </a>
        </div>
       
        </div>

        <div class="row justify-content-center mb-4"  id="section2">
            <div class="col-lg-12">
                <h1>
                    <span>F</span>
                    <span>e</span>
                    <span>a</span>
                    <span>t</span>
                    <span>u</span>
                    <span>r</span>
                    <span>e</span>
                    <span>d</span>
                    <span>c</span>
                    <span>o</span>
                    <span>l</span>
                    <span>l</span>
                    <span>e</span>
                    <span>c</span>
                    <span>t</span>
                    <span>i</span>
                    <span>o</span>
                    <span>n</span>
                    
                </h1>
            </div>
            {% for item in object_list %}

            <div class="col-lg-3">
                <a href="" class="card inner" style="width: 18rem; height:20rem;">
                  <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.title }}">
                  
                </a>
            </div>
        {% endfor %}
          
        </div>

        <div class="row" id="section3">
          <div class="col-md-2"></div>
          <div class="col-md-8">
              <h1>Get on the list</h1>
              <p>Sign up for product drops and the latest news.</p>
              <div class="form-holder">
                  <form action="#" method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                      <input type="email" name="email" id="email" placeholder="Type your email address">
                      <button type="submit" class="submit btn btn-danger">Subscribe</button>
                      </div>
                  </form>
                  </div>
          </div>
          <div class="col-md-2"></div>
           
            
                
            </div>
      </div>
       
     

     
     
       

     

      

    </div>
  </main>
  <!--Main layout-->

  {% include "footer.html" %}

 
</body>

</html>
{% endblock %}


